.navbar-brand{
position: fixed;
top: 1%;
padding: 0px;
margin: 0px;
}

.nav-item{
  margin:0;
  padding: 0;
}

.bg{
  background-color: #e6f5ff;
}

.container{
  max-width: 950px;
  background-color: white;
  background-color: #e6f5ff;
  padding-left: 0;
  padding-right: 0;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
  margin:0;
}

.footer{
background-color: #1e1e5e;
color: #f2f2f2;
margin: 0px;
padding: 0px;
min-height: 27em;
display: flex;
align-items: center;
}

.photo img{
  max-width: 100%;
  max-height: 200px;
}

html{
  height:100%;
}
body
{
  background-color: white;
  padding-top: 0px;
  height:100%;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-image: url('../images/background.png');
}

.header{
  background: linear-gradient(to bottom, #f9e39a 0%,#fccb06 100%);
  /*padding-bottom: 100px;
  padding-top: 100px;*/
  font-family: 'Alex Brush', cursive;
  color: #800000;
  padding-left: 0;
  padding-right: 0;
  margin: 0px;
}

.information{
  padding-bottom: 100px;
  padding-top: 100px;
}

li{
  padding-bottom: 1.5rem;
}

.list-unstyled span{
  margin-right: 2rem;
}

.footer li{
  padding-bottom: 0.5rem;
}

.footer .list-unstyled span{
  margin-right: 1rem;
}

.timeline h1{
  margin-bottom: 5rem;
}

.card h1{
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.card .row .question{
margin-top: 4em;
}

.photo2{
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/cb.png');
  opacity: 1;
  display: flex;
  font-family: 'Alex Brush', cursive;
  color: #800000;
  font-size: 5rem;
  color: #00004d;
}

.row{
  margin:0;
}


.container-fluid .row p{
  padding-top: 16rem;
}

.infos{
text-align: justify;
}
